[Unit]
Description=Home environment logger
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u logger.py
WorkingDirectory=/home/pi/Python/Home-logger/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
